name: Production Environment CI/CD

on:
  push:
    tags:
      - 'v*'
    paths:
      - 'backend/**'

jobs:
  prod-pipeline:
    uses: ./.github/workflows/Backend.yml
    with:
      ENVIRONMENT: prod
      REGISTRY_URL: ${{ vars.DOCKER_REGISTRY_URL }}
      REGISTRY_PATH: devteam/backend
      REGISTRY_USERNAME: ${{ vars.DOCKER_REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ vars.DOCKER_REGISTRY_PASSWORD }}
      REGISTRY_TAG: ${{ github.sha }}
      PORTAINER_PROD_WEBHOOK: ${{ vars.PORTAINER_PROD_WEBHOOK }}
      FRONT_URL: ${{ vars.FRONT_URL }}
    secrets:
      INTERNSHIP_API_KEY: ${{ secrets.INTERNSHIP_API_KEY}}
      ADZUNA_APP_ID: ${{ secrets.ADZUNA_APP_ID }}
      ADZUNA_APP_KEY: ${{ secrets.ADZUNA_APP_KEY }}
      NEWSAPI_API_KEY: ${{ secrets.NEWSAPI_API_KEY }}

